{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container text-center">
    <h1 class="mt-5">About NanoNature</h1>
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2>Professor Yaffle</h2>
            <h3>Site Founder</h3>
            <img src="{% static 'images/profyaff-about.jpg' %}" class="img-fluid" alt="NanoNature's Founder - Professor Yaffle">
            <p class="mt-3">
                Hello there! I'm so happy you're interested in NanoNature and our community. 
                I'm an avid gardner (macro as well as nano) and I've been tending bonsai and keeping terrariums for more than 10 years. 
                I created this site because I believe there's no greater satisfaction than watching one of your creations grow and evolve 
                over time. NanoNature intends to provide a place for enthusiasts to create projects and post updates about their craft. 
                Each project hosts a collection of 'entries' which will form a visual timelime for you, allowing you to reflect on your 
                projects' progress and allowing other people to see the full scope of your vision! I want this to be supportive community, 
                sharing our knowledge and experience in order to help as many people as possible get started (or go further) in this 
                fascinating hobby. Please take the time to read our Community Guidelines and How-To sections 
                . . . and remember to help eachother grow!
            </p>
        </div>
    </div>
</div>

<div class="container mt-5">
    <h2 class="text-center">How to Utilize Our Site</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis ex vel quam interdum pharetra vel vel odio. Nulla facilisi. Nullam quis justo in libero aliquam fermentum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis ex vel quam interdum pharetra vel vel odio. Nulla facilisi. Nullam quis justo in libero aliquam fermentum.</p>
</div>
{% endblock %}
