{% extends 'base.html' %}
{% load static %}
{% load custom_template_tags %}

{% block content %}

<div class="col-12 mt-3">
    <div class="card card-main mb-4 timeline">
        {% for project in object_list %}
        <div class="d-flex col-12 {% if forloop.counter|divisibleby:2 %} justify-content-end{% endif %}">
            {% if forloop.counter|divisibleby:2 %}                
            <div class="timeline__component timeline__spacer col-6"></div>
            <div class="timeline__middle col-2"></div>
            <svg id="svg_{{ forloop.counter }}">
                <path id="curve_{{ forloop.counter }}"></path>
            </svg>
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    drawBranchAndCalculateCoordinates({{ forloop.counter }});
                });
            </script>
            
            {% endif %}
            <div
                class="timeline__component timeline__component{% if forloop.counter|divisibleby:2 %}--right{% else %}--left{% endif %} col-5">
                <div class="card-dark" id="card-pos-{{ forloop.counter }}">
                    <!-- If no image included, use default (requires upload to static) -->
                    {% if "placeholder" in project.image.url %}
                    <img class="card-img-top" src="{% static 'images/default.png' %}" alt="placeholder image">
                    {% else %}
                    <img class="card-img-top" src="{{ project.image.url | cloudinary_transform }}" alt="{{ project.title }}">
                    {% endif %}
                    <a href="{% url 'project-view' project.pk %}" class="project-link">
                        <h2 class="card-title">{{ project.title }}</h2>
                    </a>
                    <p class="card-text">{{ project.about }}</p>
                    <p class="creator">Creator: <a
                            href="{% url 'userprofile:user-profile' project.creator.pk %}">{{ project.creator }}</a>
                    </p>
                    <hr>
                    <div class="timeline__date">
                        <p class="card-text h6">{{ project.created_on }}</p>
                        <p class="card-text h6">{{ project.updated_on }}</p>
                    </div>
                </div>
            </div>
            {% if not forloop.counter|divisibleby:2 %}
            <svg id="svg_{{ forloop.counter }}">
                <path id="curve_{{ forloop.counter }}"></path>
            </svg>
            <div class="timeline__middle col-2"></div>
            <div class="timeline__component timeline__spacer col-5"></div>                
            {% endif %}
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    drawBranchAndCalculateCoordinates({{ forloop.counter }});
                });
            </script>
            
        </div>
        <br>
        {% endfor %}
    </div>
</div>
{% endblock %}