{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="col-12 mt-3">
    <div class="card mb-4 timeline">
        {% for project in object_list %}
        <div class="d-flex col-12 {% if forloop.counter|divisibleby:2 %} justify-content-end{% endif %}">
            {% if forloop.counter|divisibleby:2 %}                
            <div class="timeline__component timeline__spacer col-6"></div>
            <div class="timeline__middle col-2"></div>
            <svg id="svg_{{ forloop.counter }}"></svg>
            {% endif %}
            <div
                class="timeline__component timeline__component{% if forloop.counter|divisibleby:2 %}--right{% else %}--left{% endif %} col-5">
                <div class="card-dark" id="card-pos-{{ forloop.counter }}">
                    <!-- If no image included, use default (requires upload to static) -->
                    {% if "placeholder" in project.image.url %}
                    <img class="card-img-top" src="{% static 'images/default.png' %}" alt="placeholder image">
                    {% else %}
                    <img class="card-img-top" src="{{ project.image.url }}" alt="{{ project.title }}">
                    {% endif %}
                    <a href="{% url 'project-view' project.pk %}" class="project-link">
                        <h2 class="card-title">{{ project.title }}</h2>
                    </a>
                    <p class="card-text">{{ project.about }}</p>
                    <p class="creator">Creator: <a
                            href="{% url 'userprofile:user-profile' project.creator.pk %}">{{ project.creator }}</a>
                    </p>
                    <hr>
                    <div class="timeline__date">
                        <p class="card-text h6">{{ project.created_on }}</p>
                        <p class="card-text h6">{{ project.updated_on }}</p>
                    </div>
                </div>
            </div>
            {% if not forloop.counter|divisibleby:2 %}
            <svg id="svg_{{ forloop.counter }}"></svg>
            <div class="timeline__middle col-2"></div>
            <div class="timeline__component timeline__spacer col-5"></div>                
            {% endif %}
            <script>
                // Get the coordinates of the end-point (circle au)
                var auX = parseFloat(document.getElementById("card-pos-{{ forloop.counter }}")
                    .getBoundingClientRect().left) + 175; // Adjust as needed
                var auY = parseFloat(document.getElementById("card-pos-{{ forloop.counter }}")
                    .getBoundingClientRect().top) + 50; // Adjust as needed

                // Get the coordinates of the start-point (circle sl)
                var slX = parseFloat(document.getElementById("card-pos-{{ forloop.counter }}")
                    .getBoundingClientRect().left) + (document.getElementById("project_{{ project.id }}")
                    .offsetWidth / 2);
                var slY = parseFloat(document.getElementById("card-pos-{{ forloop.counter }}")
                    .getBoundingClientRect().top) + (document.getElementById("project_{{ project.id }}")
                    .offsetHeight / 2);

                // Call drawBranch function with the obtained coordinates to draw connecting branch
                drawBranch(auX, auY, slX, slY);
            </script>
        </div>
        <br>
        {% endfor %}
    </div>
</div>
{% endblock %}