{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ object.title }}</h2>
                    <img class="card-img-top" src="{{ object.image.url }}" alt="{{ object.title }}">
                    <p class="card-text">{{ object.entry_body }}</p>
                    <p class="card-text text-muted">Created on: {{ object.created_on }}</p>
                    <p class="card-text text-muted">Updated on: {{ object.updated_on }}</p>
                    <p class="card-text text-muted">Creator: {{ project.creator }}</p>
                </div>
            </div>
            <div class="text-center">
                {% if prev_card %}
                <a href="{% url 'project-card-view' project.pk prev_card.pk %}" class="btn btn-primary mr-2">Previous</a>
                {% endif %}
                {% if next_card %}
                <a href="{% url 'project-card-view' project.pk next_card.pk %}" class="btn btn-primary">Next</a>
                {% endif %}
            </div>
            <!-- Displaying count of comments -->
            <div class="row">
                <div class="col-12">
                    <strong class="text-secondary">
                        <i class="far fa-comments"></i> {{ comment_count }}
                    </strong>
                </div>
                <div class="col-12">
                    <hr>
                </div>
            </div>
            <!-- Displaying Comments -->
            <div class="row">
                <div class="col-md-8 card mb-4  mt-3 ">
                    <h3>Comments:</h3>
                    <div class="card-body">
                        <!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
                        {% for comment in comments %}
                        <div class="p-2 comments">
                            <p class="font-weight-bold">
                                {{ comment.author }}
                                <span class="font-weight-normal">
                                    {{ comment.created_on }}
                                </span> wrote:
                            </p>
                            <div id="comment{{ comment.id }}">
                                {{ comment.body | linebreaks }}
                            </div>
                            {% if user.is_authenticated and comment.author == user %}
                            <button class="btn btn-delete" data-comment_id="{{ comment.id }}">Delete</button>
                            <button class="btn btn-edit" data-comment_id="{{ comment.id }}">Edit</button>
                            {% endif %}
                        </div>
                        <!-- Our for loop ends here -->
                        {% endfor %}
                    </div>
                </div>
                <!-- Creating New Comments -->
                <div class="col-md-4 card mb-4 mt-3">
                    <div class="card-body">
                        {% if user.is_authenticated %}
                        <h3>Leave a comment:</h3>
                        <p>Posting as: {{ user.username }}</p>
                        <form id="CommentForm" method="post" style="margin-top: 1.3em;">
                            {{ comment_form | crispy }}
                            {% csrf_token %}
                            <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
                        </form>
                        {% else %}
                        <p>Log in to leave a comment</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Delete confirmation modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete your comment?
                        This action cannot be undone.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}