{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card card-main mb-4">
                <!-- Entry Detail -->
                <div class="card-dark">
                    <h3 class="card-title">Project: <a href="{% url 'project-view' pk=object.project.pk %}">{{ object.project.title }}</a></h3>
                    <h2 class="card-title">{{ object.title }}</h2>
                    <div class="row justify-content-center">
                        {% if "placeholder" in project.image.url %}
                        <img class="img-fluid" src="{% static 'images/default.png' %}" alt="placeholder image">
                        {% else %}
                        <img class="img-fluid" src="{{ object.image.url }}" alt="{{ object.title }}">
                        {% endif %}
                    </div>
                    <p class="card-text">{{ object.entry_body }}</p>
                    <p class="card-text">Creator: <a href="{% url 'userprofile:user-profile' project.creator.pk %}">{{ project.creator }}</a></p>
                    <p class="card-text">Created on: {{ object.created_on }}</p>
                    <p class="card-text">Updated on: {{ object.updated_on }}</p>
                    <div>
                        {% if user.is_authenticated and user == project.creator %}
                        <form id="edit-card-form" action="{% url 'edit-project-card' project_pk=project.pk card_pk=object.pk %}" method="post">
                            {% csrf_token %}
                            <button class="btn-edit" type="button" onclick="navigateToURL('edit-project-card')">Edit Project Card</button>
                        </form>
                        <form id="delete-card-form" action="{% url 'delete-project-card' project_pk=project.pk card_pk=object.pk %}" method="post">
                            {% csrf_token %}
                            <button class="btn-delete" type="button" onclick="confirmCardDelete()">Delete Project Card</button>
                        </form>
                        {% endif %}
                    </div>
                </div>

                <div class="card-dark text-center mt-1" style="min-width: 0;">
                    {% if prev_card %}
                    <a href="{% url 'project-card-view' project.pk prev_card.pk %}" class="btn btn-primary mr-2">Previous</a>
                    {% endif %}
                    {% if next_card %}
                    <a href="{% url 'project-card-view' project.pk next_card.pk %}" class="btn btn-primary">Next</a>
                    {% endif %}
                </div>

                <!-- Displaying count of comments -->
                <div class="row">
                    <div class="col-1 card-dark text-center mt-1" style="min-width: 0;">
                        <strong>
                            <i class="far fa-comments"></i> {{ comment_count }}
                        </strong>
                    </div>                    
                </div>

                <!-- Displaying Comments -->
                <div class="row">
                    <div class="col-md-7 card-subfocus mt-3 mb-3">
                        <h3>Comments:</h3>
                        <div class="card-body">
                            {% for comment in comments %}
                            <div class="p-2 comments">
                                <p class="font-weight-bold">
                                    {{ comment.author }}
                                    <span class="font-weight-normal">
                                        {{ comment.created_on }}
                                    </span> wrote:
                                </p>
                                <div id="comment{{ comment.id }}">
                                    {{ comment.body | linebreaks }}
                                </div>
                                {% if user.is_authenticated and comment.author == user %}
                                <button class="btn btn-edit" data-comment_id="{{ comment.id }}">Edit</button>
                                {% endif %}
                                {% if user.is_authenticated and comment.author == user or project.creator == user %}
                                <button class="btn btn-delete" data-comment_id="{{ comment.id }}">Delete</button>
                                {% endif %}

                            </div>
                            <!-- Our for loop ends here -->
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Creating New Comments -->
                    <div class="col-md-4 card-focus mb-3 mt-3">
                        <div class="card-body">
                            {% if user.is_authenticated %}
                            <h3>Leave a comment:</h3>
                            <p>Posting as: {{ user.username }}</p>
                            <form id="commentForm" method="post" style="margin-top: 1.3em;">
                                {{ comment_form | crispy }}
                                {% csrf_token %}
                                <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
                            </form>
                            {% else %}
                            <p>Log in to leave a comment</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Delete confirmation modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete {% if user.is_authenticated and comment.author %}your{% else %}this user's{% endif %} comment?
                        This action cannot be undone.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}