{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 justify-content-center">
            <div class="card card-main mb-4">

                <div class="row">
                    <!-- Project Detail Card -->                    
                    <div class="card-dark mt-3 mb-5">
                        <h2 class="card-title">{{ project.title }}</h2>
                        <p class="creator">Creator: <a href="{% url 'userprofile:user-profile' project.creator.pk %}">{{ project.creator }}</a></p>
                        <!-- If no image included, use default -->
                        {% if "placeholder" in project.image.url %}
                        <img class="img-fluid" src="{% static 'images/default.png' %}" 
                            alt="placeholder image">
                        {% else %}
                        <img class="img-fluid" src=" {{ project.image.url }}" alt="{{ project.title }}">
                        {% endif %}          
                        <p class="card-text">{{ project.about }}</p>
                        <hr>
                        <p class="card-text">Created on: {{ project.created_on }}</p>
                        <p class="card-text">Updated on: {{ project.updated_on }}</p>
                        {% if user.is_authenticated and user == project.creator %}
                        <a href="{% url 'project-card-create' project_pk=project.pk %}" class="btn btn-primary">Make a new entry in this Project</a>
                        <form id="edit-form" action="{% url 'edit-project' project.pk %}" method="post">
                            {% csrf_token %}
                            <button class="btn-edit" type="button" onclick="navigateToURL('edit-project')">Edit Project</button>
                        </form>
                        <form id="delete-form" action="{% url 'delete-project' project.pk %}" method="post">
                            {% csrf_token %}
                            <button class="btn-delete" type="button" onclick="confirmDelete()">Delete Project</button>
                        </form>
                        {% endif %}
                    </div>                    
                </div>

                {% for card in project_cards %}
                <div class="row">
                    <!-- Display Project Entries -->                    
                    <div class="card-focus mb-3">
                        <a href="{% url 'project-card-view' project_pk=project.pk card_pk=card.pk %}" class="project-card-link">
                            <h3 class="card-title">{{ card.title }}</h3>                        
                        </a>
                        <!-- If no image included, use default -->
                        {% if "placeholder" in card.image.url %}
                        <img class="img-fluid" src="{% static 'images/default.png' %}" alt="placeholder image">
                        {% else %}
                        <img class="img-fluid" src=" {{ card.image.url }}" alt="{{ card.title }}">
                        {% endif %}
                        <p class="card-text">{{ card.entry_body }}</p>
                        <hr>
                        <p class="card-text">Created on: {{ card.created_on }}</p>
                        <p class="card-text">Updated on: {{ card.updated_on }}</p>
                    </div>                    
                </div>
                {% endfor %}
            </div> 
        </div>        
    </div> 
</div>
{% endblock content %}

{% block extras %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}
