/* Google fonts */
@font-face {
    font-family: "Rubik Moonrocks";
    src: url('fonts/Rubik_Moonrocks/RubikMoonrocks-Regular.ttf');
} 

@font-face {
    font-family: "Comfortaa";
    src: url('fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf');
}

* {
    font-family: "Comfortaa", sans-serif;
    color: #F6FFEB;
}

.container {
    height: 100%;
    width: 80%
}

a {
    text-decoration: none;
    color: #aad576;
}

input,
textarea {
    color: #1A4301;
}

img {
    margin: 0 auto;
}

.modal-body, .modal-title, body .alert, .login-status, .dark-text {
    color: #143601;
    background-color: #aad576;
    border-radius: .3rem;
    z-index: 1;
}

.light-text {
    color: #F6FFEB;
}

.nav-link,
.navbar-nav,
.navbar-toggler {
    color: #F6FFEB;
}

.login-status {
    margin-right: 52px;
    margin-top: -28px;
}

.brand {
    font-family: "Rubik Moonrocks", sans-serif;
    font-size: 3.6rem;
    font-weight: 400;
    color: #aad576;
    padding-left: 1rem;
}

.brand-font {
    font-family: "Rubik Moonrocks", sans-serif;
    font-weight: 400;
}

.brand-title {
    background-color: #1A4301;
    border-radius: 2rem;
    display: inline-block;
    padding: 0 15px;
}

.thin {
    font-weight: 300;
}

/* .row {

} */

/* Colours */

.light-bg {
    background-color: #73a942;
}

.dark-bg {
    background-color: #1A4301;
}

.main-bg {
    background-color: #fff;
}

.card {
    border: none;
    background-color: #aad576;
}

.card-main {
    background-color: #aad576;
    border-radius: 7%;
    padding: 10px 10px;
    margin: 50px auto;
    max-width: 85%;
}

.card-form {
    max-width: fit-content;
}

.card-dark {
    color: #F6FFEB;
    background-color: #1A4301;
    border-radius: 2rem;
    padding: 2rem 2rem;
    margin: auto;

    /* max-width: 85%;
    max-height: 100%;
    min-width: 65%; */
    max-width: 85%;
    height: 100%;
}

/* .card-dark img {
    max-height: 50%;
} */

.card-focus {
    color: #1A4301;
    background-color: #538D22;
    border-radius: 2rem;
    max-width: 85%;
    padding: 2rem 2rem;
    margin: auto;
}

.card-subfocus {
    color: #F6FFEB;
    background-color: #73A942;
    border-radius: 2rem;
    max-width: 80%;
    padding: 2rem 2rem;
    margin: auto;
}

.signup-box {
    margin: auto;
}

/* Living Edge - js animated div */

.living-edge {
    position: absolute;
    z-index: 0;
    width: 100%;
}

.living-edge-top {
    top: 112px;
}

.living-edge-bottom {
    bottom: 77px;
    margin-top: 50px;
}

/* Images */

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #188181;
}

.scale {
    width: 100%;
    height: auto;
}

.creator {
    color: #F6FFEB;
    margin: 4px;
}

/* Timeline Effect */

.timeline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between; /* Adjust as needed */
    max-width: 1300px; /* Adjust */
    margin: 55px auto 75px auto;
    padding: 25px; /* Adjust */
}

.timeline__component {
    /* flex-basis: calc(100% - 10px); Adjust the width of each component */
    position: relative;
    display: flex;
}

.timeline__component--right {
    justify-content: flex-start;
} 

.timeline__component--left {
    justify-content: flex-end;
}

/* .timeline__date {
    text-align: right;
} */

/* .timeline__date--right {

} */

.timeline__middle {
    width: 5px; /* Adjust the width of the middle line */
    background-color: #fff; /* Adjust the color of the middle line */
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 120px;
    bottom: 0;
    padding:0;
    left: 50%;
    border-radius: 20%;
    transform: translateX(-50%);
}

.spot { 
    fill: #fff; 
}
    		
.spot2 { 
    fill: transparent; 
}

svg {
    /* left: 50%;
    transform: translateX(-50%); */
    --branch-index: 0; /* default */
    --top-gap: calc(var(--branch-index) * 25%);
    top: var(--top-gap);
    position: relative;
    z-index: 99;
}

.even-branch svg {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.odd-branch svg {
    margin-left: -200px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.timeline__spacer {
    width: 10px; /* Adjust the width of the spacer */
    flex-shrink: 0;
}

.footer {
    position: relative;
    margin-top: 20px;
}

.profile-image {
    width: 75%;
}

.project-link {
    text-decoration: none;
    color: #73A942;
}

.project-link:hover,
.page-link {
    color: #245501;
}

.project-title {
    margin-top: 10%;
    margin-left: 5%;
}

.project-subtitle {
    margin-left: 5%;
    color: #143601;
}

.btn-primary,
.btn-submit,
.btn-signup,
.btn-edit {
    background-color: #538D22;
    color: #F6FFEB;
    border-color: transparent;
}

.btn-primary:hover,
.btn-primary:active,
.btn-submit:hover,
.btn-submit:active,
.btn-edit:hover,
.btn-edit:active,
.btn-signup:hover,
.btn-signup:active {
    background-color: #143601;
    color: #F6FFEB;
    border-color: #F6FFEB;
}

.link {
    text-decoration: none;
    color: #F6FFEB;
}

.link:hover,
.link:active,
a:hover,
a:active {
    color: #143601;
    text-decoration: none;
    background-color: #73A942;
    border-radius: .3rem;
}

.btn-like {
    color: #F6FFEB;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #F6FFEB;
    background: #863418;
}

.btn-like:hover,
.btn-like:active {
    color: #F6FFEB;
    background: transparent;
    border: none;
}

.highlighted {
    border: 3px solid #fff;
    border-radius: .3rem; 
    background-color: #73a942; 
}

.highlighted-brand:hover {
    border-radius: 10%; 
    background-color: #73a942; 
}

/* Media Queries */
@media (max-width: 769px) {

    #id_about,
    #id_entry_body {
        width: 75%;
    }

    h1.dark-text {
        font-size: larger;
    }

    .brand {
        font-size: xx-large;
    }

    .login-status {
        font-size: small;
        margin-top: -14px;
    }

    .living-edge-top {
        top: 65px;
    }

    .col-5 {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    svg,
    .timeline__middle,
    .timeline__spacer { 
        display: none;
    }

    .card-dark,
    .card-focus,
    .card-subfocus {
        padding: 0.5rem 0.5rem;
        border-radius: 1rem;
    }
}

@media (min-width: 2000px) {
    .main-bg {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }
}