* {
    font-family: "Comfortaa", sans-serif;
}

body {
    background-color: #143601; /* Sort */
    color: #aad576;
}

img {
    max-height: 400px;
    max-width: 400px;
    background-color: #245501;    
}

.modal-body, .modal-title, body .alert, .login-status, .dark-text {
    color: #143601;
    background-color: #aad576;
    border-radius: .3rem;
}

.brand {
    font-family: "Rubik Moonrocks", sans-serif;
    font-size: 3.6rem;
    font-weight: 400;
    color: #aad576;
    padding-left: 1rem;
}

.brand-font {
    font-family: "Rubik Moonrocks", sans-serif;
    font-weight: 400;
}

.thin {
    font-weight: 300;
}

/* .row {

} */

/* Colours */

.light-bg {
    background-color: #73a942;
}

.dark-bg {
    background-color: #1A4301;
}

.main-bg {
    background-color: #fff;
}

.card {
    border: none;
    background-color: #aad576;
}

.card-main {
    background-color: #aad576;
    border-radius: .3rem;
    padding-top: 8px;
    padding-bottom: 8px;
}

.card-dark {
    color: #aad576;
    background-color: #1A4301;
    border-radius: .3rem;
    padding: 8px;
    max-width: 100%;
    max-height: 100%;
}

/* .card-dark img {
    max-height: 50%;
} */

.card-focus {
    color: #1A4301;
    background-color: #538D22;
    border-radius: .3rem;
}

/* Images */

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #188181;
}

.scale {
    width: 100%;
    height: auto;
}

.creator {
    color: #fff;
    margin: 4px;
}

/* Timeline Effect */

.timeline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between; /* Adjust as needed */
    max-width: 750px; /* Adjust */
    margin: 0 auto;
    padding: 25px; /* Adjust */
}

.timeline__component {
    flex-basis: calc(50% - 10px); /* Adjust the width of each component */
    position: relative;
}

.timeline__component--right {
    padding-left: 30px;
}

/* .timeline__date {
    text-align: right;
} */

/* .timeline__date--right {

} */

.timeline__middle {
    width: 5px; /* Adjust the width of the middle line */
    background-color: #fff; /* Adjust the color of the middle line */
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 0;
    bottom: 0;
    padding:0;
    left: 50%;
    border-radius: 20%;
    transform: translateX(-50%);
}

.timeline__branch {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    --branch-index: 0; /* default */
    --top-gap: calc(var(--branch-index) * 25%);
    top: var(--top-gap);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
}

.timeline__spacer {
    width: 10px; /* Adjust the width of the spacer */
    flex-shrink: 0;
}

.footer {
    margin-top: 20px;
}

.profile-image {
    width: 75%;
}

.project-link {
    text-decoration: none;
    color: #538D22;
}

.project-link:hover,
.page-link {
    color: #245501;
}

.project-title {
    margin-top: 10%;
    margin-left: 5%;
}

.project-subtitle {
    margin-left: 5%;
    color: #143601;
}

.btn-submit,
.btn-signup,
.btn-edit {
    background-color: #538D22;
    color: #fff;
}

.btn-submit:hover,
.btn-submit:active,
.btn-edit:hover,
.btn-edit:active,
.btn-signup:hover,
.btn-signup:active {
    background-color: #143601;
    color: #aad576;
}

.link {
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #fff;
    text-decoration: underline;
}

.btn-like {
    color: #538D22;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #aad576;
    background: transparent;
    border: none;
}

.highlighted {
    border: 3px solid #fff;
    border-radius: .3rem; 
    background-color: #73a942; 
}

/* Media Queries */






/* JUNK FOR REFERENCE */
/* .masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
} */